packages:
-
  !Package
  name: nginx
  version: 1.22
  action: install
files:
-
  !File
  content: 
    |
    this is a config
  path: nginx.conf
  owner: root
  group: root
  permissions: -rw-r--r--
-
  !File
  content:
    |
    <?php
    header("Content-Type: text/plain");
    echo "Hello, world!\n";
  path: app.php
  owner: root
  group: root
  permissions: -rw-r--r--